<nav>
    <a href="/" class="site-title">TFT APP</a>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/champions">Champions</a></li>
        <li><a href="/comp">Comp Maker</a></li>
        <li><a href="/calc">Damage Calculator</a></li>
    </ul>
</nav>