<!DOCTYPE html>
<html lang="en">
<%- include('./partials/nav.ejs') %>

<body>

    <%- include('./partials/head.ejs') %>

    <main>

        <div class="content">404 Page Not Found</div>
    
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>