<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <main>

        <div class="content">Welcome to the TFT App !</div>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>